#logo{
margin: auto;
}
#home{
    padding: 0px 20px;
}
#skills{
margin: 10px;
}
#about{
    padding: 10px;
}
#aboutdes{
    width: 100%;
    padding: 0px;
}
.contact-items{
   height: 20px;
}
#contact a{
    text-align: center;
   justify-content: center;
}
#about img{
    width:100%;
    height:100%;
    padding: 10px;
}
.h1-primary-center{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.2rem;
    text-align: center;
    
}
.secondary{
    font-family: 'Kanit', sans-serif;
    font-size: 0.9rem;
    text-align: center;   
}